* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ropa Sans", sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../assests/banner.png");
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.logo {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 210px;
  height: auto;
  cursor: pointer;
}

.nav-items {
  word-spacing: 1px;
  top: 50px;
  left: 300px;
  font-size: 14px;
  position: relative;
  margin: 0 10px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.navSection {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1400px;
  margin: 1px 2px;
  text-align: left;
  /* position: fixed; */
  top: 0px;
}

.nav-items::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.1rem;
  width: 0%;
  background-color: #fff;
  bottom: -0.2rem;
  transition: all ease-in-out 250ms;
}

.nav-items:hover::after {
  width: 100%;
}



/* //search */
.s-container {
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  left: 25%;
  width: 50%;
  gap: 0.1rem;
}

.inputs {
  outline: none;
  border: none;
  width: 100%;
  background: inherit;
  color: #b8b8b8;
  cursor: text;
}

.searchbar {
  border: 1px solid #f2f2f2;
  padding: 10px 15px;
  background: #f2f2f2;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.searchbtn {
  width: 8rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  margin: 1px;
  background: linear-gradient(#252525, #161515 50%, #fff 50%, #f0f3f1);
  background-size: 100% 200%;
  /*trasition effect for background*/
  transition: background 1s;
}

.searchbtn:hover {
  background-position: 100% 100%;
  color: #000;
  border: 2px solid #000;
}

/* card */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 25px;
  position: absolute;
  top: 180px;
}

.card {
  background-color: #1c1b29;
  border-radius: 20px;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.18); */
  list-style: none;
  margin: 10px;
  width: 100%;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 20px 0 #fff;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in;
}

.container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.details {
  padding: 6px 15px;
}
.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.card {
  margin-bottom: 50px;
}

.f-container {
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0px;
  padding: 5px;
  text-align: center;
  width: calc(100vw - 1rem);
  height: 5vh;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .logo {
    left: 50%;
    top: 5%;
    width: 150px;
    margin-top: -5px;
    margin-left: 15px;
    transform: translate(-50%, -50%);
    z-index: 55;
  }

  .navSection {
    display: none;
  }

  .nav-links-mobile {
    position: fixed;
    display: block;
    background-color: #000;
    right: 0;
    top: 0;
    height:100%;
    width: 50%;
    z-index: 100;
    transition: .65s ease-in-out;
  }

  .nav-links-mobile .nav-items {
    position: relative;
    left: 0;
    padding: 10px;
  }

  .nav-items {
    color: white;
    transition: all 0.5s ease;
    display: flex;
    width: auto;
    overflow: hidden;
    /* text-align: left */
  }



  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
    
  }

  .xicon {
    width: 50px;
    height: 50px;
    right: -6%;
    top: -6px;
    position: relative;
    z-index: 100;
    pointer-events: none;
    transition: background 0.6s;
  }


 .nav-items::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.1rem;
    width: 0%;
    background-color: #fff;
    bottom: -0.2rem;
    transition: all ease-in-out 250ms;
  }

  .nav-items:hover::after {
    width: 100%;
  } 
}
